body {
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

.center {
	text-align: center;
}

#header {
	padding-top: 40px;
	padding-bottom: 40px;
}

.padding-top {
	padding-top: 40px;
}

.btn-geckoboard {
  display: inline-block;
  padding: 10px 16px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  border: 2px solid transparent;
  border-radius: 0px;
  -webkit-transition: color 0.3s ease, background 0.3s ease;
  -moz-transition: color 0.3s ease, background 0.3s ease;
  -ms-transition: color 0.3s ease, background 0.3s ease;
  -o-transition: color 0.3s ease, background 0.3s ease;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.btn-outline {
  color: #062946;
  background-color: transparent;
  border-color: #062946;
}

.btn-geckoboard:hover {
  -webkit-transition: color 0.3s ease, background 0.3s ease;
  -moz-transition: color 0.3s ease, background 0.3s ease;
  -ms-transition: color 0.3s ease, background 0.3s ease;
  -o-transition: color 0.3s ease, background 0.3s ease;
  background-color: #062946;
  color: white;
  text-decoration: none;
}

.btn-geckoboard:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #062946;
    text-decoration: none;
}

#invalid {
	padding-top: 40px;
	color: red;
	display: none;
}